<html ng-app="myApp">
    <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700" rel="stylesheet" type="text/css">
    <title>Simple Voting System Using AngularJS</title>
    </head>
    <body>
    
    <div class="navbar navbar-default" id="navbar">
    <div class="container" id="navbar-container">
	<div class="navbar-header">
		<a href="http://angularcode.com" class="navbar-brand">
			<small>
				<i class="glyphicon glyphicon-log-out"></i>
				AngularCode / AngularJS Demos 
			</small>
		</a><!-- /.brand -->
		
	</div><!-- /.navbar-header -->
	<div class="navbar-header pull-right" role="navigation">
        <a href="http://angularcode.com/voting-system-similar-to-stackoverflow-using-angularjs-php-and-mysql/" class="btn btn-sm btn-danger nav-button-margin"> <i class="glyphicon glyphicon-book"></i>&nbsp;Tutorial Link</a>
        <a href="http://angularcode.com/download-link/?url=https://app.box.com/s/awhqt6cig7ks8m91dsxu" class="btn btn-sm btn-warning nav-button-margin"> <i class="glyphicon glyphicon-download"></i>&nbsp;Download Project</a>
	</div>
	</div>
	</div>
	<div class="row">
    	<div class="container">
    		<div class="col-sm-9">
    			<div>
                <blockquote><h1><a href="http://angularcode.com/voting-system-similar-to-stackoverflow-using-angularjs-php-and-mysql/">Voting System Using AngularJS + PHP + MySQL</a></h1></blockquote>
                <h5>Click on the up/down arrow against each entry bellow to Vote</h5>

<ul class="thumbnails" ng-controller="votingCtrl">
    <li ng-repeat="post in posts" class="clearfix">
        <div class="col-md-1 voting well">
            <div class="votingButton" ng-click="upVote(post);">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </div>
            <div class="badge badge-inverse">
                <div>{{post.votes}}</div>
            </div>
            <div class="votingButton" ng-click="downVote(post);">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </div>
        </div>
        <div class="well col-md-11">
            <h4><a href="{{post.url}}">{{post.title}}</a></h4>
            <p>{{post.description}}</p>
        </div>
    </li>
</ul>


                </div>
    		</div>
    	</div>
    </div>
    	
<script src="js/angular.min.js"></script>
<script src="app/app.js"></script>
</body>
</html>
