 <!-- Material -->
<div md-theme="{{currentTheme}}" layout="row" flex hm-swiperight="openNav()" hm-swipeleft="closeNav()">

    <md-sidenav class="md-whiteframe-z2" md-component-id="left" hm-swiperight="openNav()" md-disable-backdrop>
        <md-toolbar class="md-tall">
            <div class="md-toolbar-tools">
                <!-- Left Nav -->
            </div>
        </md-toolbar>

        <!-- Sidebar Menus List -->
        <md-content>
            <md-list ng-repeat="item in menus">
                <md-subheader class="md-no-sticky">
                    <md-icon>{{item.icon}}</md-icon>
                    <span>{{item.title}}</span>
                </md-subheader>
                <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu">
                    <md-list-item ng-repeat="subitem in item.submenus" ng-click="goTo(subitem.path)">
                        <span class="submenus-text">
                            <md-icon>{{subitem.icon}}</md-icon>&nbsp;
                            {{subitem.title}}
                        </span>
                    </md-list-item>
                </div>
            </md-list>
        </md-content>
    </md-sidenav>

    <div flex>
        <md-toolbar>
            
            <div class="md-toolbar-tools">
                <h2 class="home-title">{{title}}</h2>
                <md-button ng-click="toggleNav()" class="md-icon-button">
                    <md-icon ng-click="sideNav()">menu</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content id="pages">
            <ui-view></ui-view>
        </md-content>

    </div>
</div>
    