[ng-cloak] {
    display: none !important;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./assets/material-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

[ng-cloak] {
    display: none !important;
}

.splash {
    display: none;
}

[ng-cloak].splash {
    display: block !important;
}

.md-sidenav-left, md-sidenav {
    top: 71px;
    border-radius: 4px;
}

md-sidenav {
    max-width: 240px;
}

md-toolbar:not(.md-menu-toolbar) {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

md-backdrop.md-opaque {
    opacity: 0;
}

md-toolbar.md-tall {
    height: 0px;
    min-height: 0px;
    max-height: 0px;
}

.pages-sidenav {
    padding-left: 16%;
    transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
}

.submenus-text {
    padding-left: 2px;
    font-size: 14px;
}

md-list-item .md-list-item-inner {
    border-bottom: 0.1px solid;
}