<div md-theme="{{$ctrl.currentTheme}}" layout="row" flex hm-swiperight="$ctrl.openNav()" hm-swipeleft="$ctrl.closeNav()">

    <md-sidenav class="md-whiteframe-z2" md-component-id="left" hm-swiperight="$ctrl.openNav()" md-disable-backdrop>
        <md-toolbar class="md-tall">
            <div class="md-toolbar-tools">
                
            </div>
        </md-toolbar>

        <!-- Sidebar Menus List -->
        <md-content>
            <md-list ng-repeat="item in $ctrl.menus">
                <md-subheader class="md-no-sticky">
                    <md-icon>{{item.icon}}</md-icon>
                    <span>{{item.title}}</span>
                </md-subheader>
                <md-list-item ng-repeat="subitem in item.submenus" ng-click="$ctrl.goTo(subitem.path)">
                    <span class="submenus-text">
                        <md-icon>{{subitem.icon}}</md-icon>&nbsp;
                        {{subitem.title}}
                    </span>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>

    <div flex>
        <md-toolbar>
            
            <div class="md-toolbar-tools">
                <h2>{{$ctrl.title}}</h2>
                <md-button ng-click="$ctrl.toggleNav()" class="md-icon-button">
                    <md-icon ng-click="$ctrl.sideNav()">menu</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content id="pages">
            <ui-view></ui-view>
        </md-content>

    </div>
</div>