<!DOCTYPE html>
<html ng-app="app">
    <head>
        
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="icon" href="css/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Shopping Cart</title>
        <base href="/">
        <!-- CSS files-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.22/angular-material.min.css">
        <link rel="stylesheet" href="css/style.css">  
    </head>

    
    <body ng-controller="MenuController as $ctrl">
        <!-- Sidebar Navigation -->
        <div md-theme="{{currentTheme}}" layout="row" flex hm-swiperight="openNav()" hm-swipeleft="closeNav()">

            <md-sidenav class="md-whiteframe-z2" md-component-id="left" hm-swiperight="openNav()" md-disable-backdrop>
                <md-toolbar class="md-tall">
                    <div class="md-toolbar-tools">
                        <!-- Left Nav -->
                    </div>
                </md-toolbar>
        
                <!-- Sidebar Menus List -->
                <md-content>
                    <md-list ng-repeat="item in menus" ng-click="goTo(item.path)">
                        <md-subheader class="menus-text">
                            <md-icon>{{item.icon}}</md-icon>
                            <span>{{item.title}}</span>
                        </md-subheader>
                        <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu">
                            <md-list-item ng-repeat="subitem in item.submenus" ng-click="goTo(subitem.path)">
                                <span class="submenus-text">
                                    <md-icon class="child-icon">{{subitem.icon}}</md-icon>&nbsp;{{subitem.title}}                              </span>
                            </md-list-item>
                        </div>
                    </md-list>
                </md-content>
            </md-sidenav>
        
            <div flex>
                <md-toolbar>
                    
                    <div class="md-toolbar-tools">
                        <h2 class="home-title">{{project_name}}</h2>
                        <md-button ng-click="toggleNav()" class="md-icon-button">
                            <md-icon ng-click="sideNav()">menu</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>

        <!-- Routing -->
        <md-content id="pages">
            <div ng-view></div>
        </md-content>
    </div>
</div>
</body>

    <!-- JS Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular-loader.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.0/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.22/angular-material.min.js"></script>
    
    <!-- Angular Controllers -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="js/app.service.js"></script>
    <script src="js/app.js"></script>
    <script src="js/menu.controller.js"></script>
    <script src="js/home.controller.js"></script>
    <script src="js/products.controller.js"></script>
</html>
