<md-icon md-svg-icon="svg-3" class="avatar"></md-icon>
<h2 class="md-title">Why was this built?</h2>
<p class="md-subhead">
	This starter kit is greatly inspired and built upon the original starter app provided by <code>angular/material-start</code> located at <a href="https://github.com/angular/material-start" target="_blank">angular/material-start</a>.
</p>

<p class="md-subhead">
	The main purpose of building this starter kit was to provide a base for building and producing quick, material design interfaces with <strong>AngularJS</strong>. While there are various starter kits available, this one tries to mimick the original material design specification by Google closely, and more and more features will be added to it in terms of transitions, animations, components and more.
</p>

<h3 class="md-headline">Angular Material</h3>
<p class="md-subhead">
Built using <a href="https://material.angularjs.org/" target="_blank">Angular Material</a>, there are over 32 material design components that you can leverage right away. The Angular Material implementation of Google's Material Design provides a set of reusable, well-tested, and accessible UI components. To know more, visit the <a href="https://material.angularjs.org/latest/" target="_blank">documentation</a>.
</p>
<img src="/content/ng-material.png" alt="">