[ng-cloak] {
    display: none !important;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./material-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

[ng-cloak] {
    display: none !important;
}

.splash {
    display: none;
}

[ng-cloak].splash {
    display: block !important;
}

.md-sidenav-left, md-sidenav {
    top: 71px;
    border-radius: 4px;
}

md-sidenav {
    max-width: 240px;
}

md-toolbar:not(.md-menu-toolbar) {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

md-backdrop.md-opaque {
    opacity: 0;
}

md-toolbar.md-tall {
    height: 0px;
    min-height: 0px;
    max-height: 0px;
}

.pages-sidenav {
    padding-left: 16%;
    transition-duration: 0.6s;
    -webkit-transition-duration: 0.6s;
}

.submenus-text {
    padding-left: 2px;
    font-size: 14px;
}

md-list-item .md-list-item-inner {
    border-bottom: 0.1px solid;
}

#main {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.home-title {
    padding-left: 30px;
}
/****   Accordion Style ***********/

.md-subheader .md-subheader-inner {    
    padding: 0 0 0 16px !important;
}
.md-accordion {
    padding: 2px;
}
.md-accordion .expandCollapse { 
    width:30px;
    height:30px;
    position:relative;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    color:#9999;
    display:block;
    margin-top: -2px;
    margin-left: -2px;
    overflow:hidden;
  }
  .md-accordion .expandCollapse:active {
    border:0px;
  }
  .md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after {
    width:30px;
    height:30px;
    display:block;
    position:absolute;
    top:0; left:0;
    line-height:32px;
    text-align:center;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
  }
  .md-accordion .expandCollapse:before { 
    opacity:1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    content: "|";
    margin-top:-3px;
  }
  .md-accordion .expandCollapse:after {
    opacity:1;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    content: "|";
    margin-left:-3px;
  }
  .md-accordion .active:before {
    opacity:1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left:3px;
    margin-top:0px;
  }
  
  .md-accordion .dataContent {
    background: #F2F2F2;
    height:0px;
    overflow:hidden;
    -webkit-transition: .3s all ease-out;
    transition: .3s all ease-out;
  }
  
  .md-accordion .activeContent {
    height:auto;
    padding:0px;
    display:block;
  }
  
  .md-accordion md-toolbar{
    cursor:pointer;
    border-bottom:1px solid rgb(63,107,181)
  }
