[ng-cloak] {
    display: none !important;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(./material-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

[ng-cloak] {
    display: none !important;
}

.splash {
    display: none;
}

[ng-cloak].splash {
    display: block !important;
}

.md-sidenav-left, md-sidenav {
    top: 71px;
    border-radius: 4px;
}

md-sidenav {
    max-width: 240px;
}

md-toolbar:not(.md-menu-toolbar) {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

md-backdrop.md-opaque {
    opacity: 0;
}

md-toolbar.md-tall {
    height: 0px;
    min-height: 0px;
    max-height: 0px;
}

.pages-sidenav {
  height: 100%;
  padding-left: 16%;
  transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
}

.submenus-text {
    padding-left: 2px;
    font-size: 14px;
}

md-list-item .md-list-item-inner {
    border-bottom: 0.2px solid;
}

#main {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.home-title {
    padding-left: 30px;
}
/****   Accordion Style ***********/

.md-subheader .md-subheader-inner {    
    padding: 10px !important;
    cursor: pointer;
}
.md-accordion {
    padding: 2px;
}
md-list-item {
    color: rgba(0,0,0,0.54);
}
.md-accordion .expandCollapse { 
  width:30px;
  height:30px;
  position:relative;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  color:#9999;
  display:block;
  margin-top: -2px;
  margin-left: -2px;
  overflow: hidden;
  float: right;
}
.md-accordion .expandCollapse:active {
  border:0px;
}
.md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after {
  width:30px;
  height:30px;
  display:block;
  position:absolute;
  top:0; left:0;
  line-height:32px;
  text-align:center;
  -webkit-transition: .3s all ease-out;
  transition: .3s all ease-out;
}
.md-accordion .expandCollapse:before { 
  opacity:1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  content: "|";
  margin-top:-3px;
}
.md-accordion .expandCollapse:after {
  opacity:1;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  content: "|";
  margin-left:-3px;
}
.md-accordion .active:before {
  opacity:1;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left:3px;
  margin-top:0px;
}

.md-accordion .dataContent {
  background: #F2F2F2;
  height: 0px;
  overflow: hidden;
  transition: .3s all ease-out;
  -webkit-transition: .3s all ease-out;
}

.md-accordion .activeContent {
  height: auto;
  padding-top: 0px;
  display: block;
  transition: .3s all ease-out;
}

.md-accordion md-toolbar{
  cursor:pointer;
  border-bottom: 1px solid rgb(63,107,181)
}
md-list-item._md-button-wrap>div.md-button:first-child {
  padding: 0 10px;
}

.product-continer {
  padding: 6px 2px 0 0;
  border-radius: 4px;
  margin-bottom: 100px;
}
.product-add {
  height: auto;
  border: 1px solid rgba(0,0,0,0.07);
  transition: .3s all ease-out;
}
.ng-hide {
  height: 0;
}
/** Add Product **/
.inputdemoErrors .inputErrorsApp {
  min-height: 48px; }

.inputdemoErrors md-input-container > p {
  font-size: 0.8em;
  text-align: left;
  width: 100%; 
}
#input-file-id {
  opacity: 1;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0,0,0,.14);
  background-color: rgba(0,0,0,.02);
  
}

#input-file-id:before {
  content: '';
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Browse';
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 8px 26px 5px 26px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 14px;
  color: #999;
}
.custom-file-input:hover::before {
  border-color: #999;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.md-block {
  margin: 12px;
}
