<md-content>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">String Expressions</span>
            </md-card-title-text>
        </md-card-title>
        
        <md-content layout-gt-sm="row" layout-padding>
            <div>
              <md-input-container>
                <label>Enter your first name</label>
                <input ng-model="user.firstName" type="text">
              </md-input-container>
        
              <md-input-container>
                <label>Enter your last name</label>
                <input ng-model="user.lastName" type="text">
              </md-input-container>
              <md-card-content>
                <md-button class="md-raised md-primary" ng-click="$ctrl.getResult()">
                    Result
                </md-button>
            </md-card-content>
            <div>
                {{result}}
            </div>
        </div>
        </md-content>
    </md-card>
</md-content>