

  <md-toolbar class="md-table-toolbar md-default" ng-show="!options.rowSelection || !selected.length">
    <div class="md-toolbar-tools">
      <span>Products Details</span>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="loadStuff()">
        <md-icon>refresh</md-icon>
      </md-button>
      <md-button class="md-icon-button">
        <md-icon>filter_list</md-icon>
      </md-button>
      <md-button class="md-icon-button">
        <md-icon>more_vert</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  
  <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
    <div class="md-toolbar-tools">
      <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span>
      <span flex></span>
      <md-button class="md-icon-button">
        <md-icon>delete</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  
  <md-table-container>
    <table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" data-ng-model="selected" md-progress="promise">
      <thead ng-if="!options.decapitate" md-head data-md-order="query.order" md-on-reorder="onReorder">
        <tr md-row>
          <th md-column md:order:by="action">Action</th>
          <th md-column md:order:by="product.image">Image</th>
          <th md-column md:order:by="product.name">Name</th>
          <th md-column md:order:by="product.wharehouse">Warehouse</th>
          <th md-column md:order:by="product.qty">Qty</th>
          <th md-column md:order:by="product.barcode">Barcode</th>
          <th md-column md:order:by="product.p_price">Purchase Price</th>
          <th md-column md:order:by="product.s_price">Selling Price</th>
          <th md-column md:order:by="product.category">Category</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row md-select="product" md-select-id="name" data-md-on-select="log" md-on-deselect="deselect" x-md-auto-select="options.autoSelect" data-ng-repeat="product in products.products | orderBy: query.order | limitTo: query.limit : (query.page - 1) * query.limit"">
         
          <td md-cell><md-icon title="Edit this Product">edit</md-icon><md-icon title="Delete this Product">delete_outline</md-icon></td>
          <td md-cell><img src="{{product.product_image}}" height="20"></td>
          <td md-cell>{{product.product_name}}</td>
          <td md-cell>{{product.warehouse}}</td>
          <td md-cell>{{product.quantity}}</td>
          <td md-cell>{{product.barcode}}</td>
          <td md-cell>{{product.purchase_price}}</td>
          <td md-cell>{{product.selling_price}}</td>
          <td md-cell>{{product.category}}</td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  
  <data-md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{products.products.count}}" md-on-paginate="onPaginate" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks"></data-md-table-pagination>